.nav {
    grid-area: n;
    background-color: #e0c291;
    padding-left: 10px;
    padding-top: 10px;
}

.item {
    color: white;
}

.item.active {
    color: #0048ff;
}

a:hover {
    color: green;
    font-weight: bold;
}